a{
	text-decoration: underline;
	color: deepskyblue !important;
}
.main_body,html{
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.news_dele_com{
	margin-left:0.4rem;
}
.header_box{
	position:absolute;
	z-index:9999;
	top:0;
	height:5rem;
}
.news_secondComment{
	width: 100%;
	position:absolute;
	bottom:0;
	z-index:99;
}
.new_post_contents{
	height:100%;
	width:100%;
    overflow-y:scroll; 
    padding-bottom:7rem;
}

.head_title{
	text-align:center;
	line-height:30px;
}

.detail{
	line-height:28px;
	font-family:Microsoft Yahei,Simsun,Gotham-Medium,Arial; 
}
.detail p{
	font-size:18px;
	text-align:justify;	
	color:#333 !important;
}
.detail h1,.detail h2,.detail h3,.detail h4,.detail h5,.detail h6{
	font-size:20px;
	margin:0.5rem 0;
	color:#282828 !important;
}
.detail strong{
	font-size:15px;
}


.news_userInfo_reply{
	background-color:#fff;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 3rem;
	padding-left: 1rem;
	display:flex;
}

.new_post_contents img{
	width:100%;
}
.notice{
	position: absolute;
	left:50%;
	margin-left: -1rem;
	font-size: 18px;
}
.share{	
	position:absolute;
	right: 1rem;
	top: 50%;
	margin-top: -0.7rem;	
	width: 1.6rem;
	height: 1.6rem;
	background-image: url("../../Public/image/share.png");
	border-radius: 50%;
	background-position: center;
	background-repeat:no-repeat;
	background-size: contain;
}
.news_post_list{
	width: 100%;
	height: 36px;
	line-height: 36px;
	border-bottom: 1px solid #9E9E9E;
	padding: 0 1rem;
	position:absolute;
	z-index: 9999;
}
.news_post_listImg{
	width: 1.8125rem;
	height: 1.8125rem;
	border-radius: 10px;
	background-position: center;
	background-repeat:no-repeat;
	background-size: contain;
	position: absolute;
	top: 50%;
	margin-top: -0.9rem;
}
.comment_user{
	color: #7A7A7A;
}
.news_post_listName{
	margin-left: 2.5625rem;
}
.news_post_download{
	position: absolute;
	top: 50%;
	margin-top: -0.75rem;
	right: 0.9375rem;
	width: 2.8125rem;
	height: 1.5rem;
	line-height: 1.5rem;
	border-radius: 10px;
	font-size: 12px;
	color: #FFFFFF;
}
.news_post_content{
	
	padding: 1.1875rem 0.9375rem;
	border-bottom: 12px solid #E7EAEC;
}
h4{	
	
	font-size: 20px;
	line-height:175%;
	margin-top: 0;
}
.news_userInfo{
	margin-top: 1.4rem;
}
.news_userInfo_img{
	width: 2.0625rem;
	height: 2.0625rem;
	background-image: url(../../Public/image/touxiang.png);
	border-radius: 50%;
	background-position:center;
	background-repeat:no-repeat;
	background-size: cover;
	box-shadow:0px 2px 2px 1px rgba(0,0,0,0.1);
}
.news_userInfo_name{
	color: #7a7a7a;
	padding-left:3.4rem;
}
.news_userInfo_date{
	margin-left: 3.4rem;
}



.news_userInfo_replyInput{
	width:65%;
	height: 2rem;
	line-height: 2rem;
	position: absolute;
	top: 50%;
	margin-top: -1rem;
	border-radius: 20px;
	background-color: #E7EAEC;
	color: #7A7A7A;
}
.news_userInfo_replyImg{
	position: absolute;
	width: 1rem;
	height: 1rem;
	background-image: url("../../Public/image/huitie.png");
	background-position: center;
	background-repeat:no-repeat;
	background-size: contain;
	left: 34%;
	top: 50%;
	margin-top: -0.5rem;
}
.news_review{
	width: 1.4rem;
	height: 1.4rem;
	background-image: url(../../Public/image/liuyan.png);
	background-position: center;
	background-repeat:no-repeat;
	background-size: contain;
	position: absolute;
	left: 76%;
	top: 50%;
	margin-top: -0.59735rem;
}
.news_reviewNum{
	width: 1.125rem;
	height: 1.125rem;
	line-height: 1.125rem;
	font-size: 12px;
	position: absolute;
	left: 80%;
	border-radius: 50%;
	top: 20%;
}
.news_collect{
	width: 1.5625rem;
	height: 1.5625rem;
	position: absolute;
	right: 4%;
	top: 50%;
	margin-top: -0.78125rem;
	background-image: url("../../Public/image/yishoucang.png");
	background-position: center;
	background-repeat:no-repeat;
	background-size: contain;
}

.news_post_commentHead{
	position: relative;
	width: 100%;
	height: 2.8125rem;
	line-height: 2.8125rem;
	padding-left: 1.0625rem;
	padding-right: 0.8125rem;
}
.cut_line{
	position: absolute;
	top: -0.1rem;
	right: 2rem;
	width: 1rem;
	height: 0.8rem;
}
.news_post_commentContent{
	width: 100%;
	border-top: 1px solid #E7EAEC;
	margin-bottom: 0.9rem;
}
.news_post_commentContent_head{
	width: 2.0625rem;
	height: 2.0625rem;
	margin-top: 0.9375rem;
	margin-left: 0.9375rem;
	margin-right: 0.75rem;
	border-radius: 50%;
	box-shadow:0px 2px 2px 1px rgba(0,0,0,0.1);
	background-position: center;
	background-repeat:no-repeat;
	background-size: contain;
}
.news_post_commentContent_content{
	margin-top: 1.3125rem;
	width: 76%;
}
.comment_content{
	margin-top: 0.6rem;
}

.comment_info{
	margin-top: 0.4rem;
}
.thumbs,.comment_nums{
	width: 3rem;
	
}
.thumb{
	background-image: url("../../Public/image/good.png");
	background-position: center;
	background-repeat:no-repeat;
	background-size: contain;
	vertical-align: middle;
	margin-bottom: 0.2rem;
}
.comment_imgs{    
	   height: 2rem;	  
}
.comment_img{	
	width: 1.0625rem;
	height: 1.0625rem;
	background-image: url("../../Public/image/liuyan.png");
	background-position: center;
	background-repeat:no-repeat;
	background-size: contain;
	vertical-align: middle;
	margin-bottom: 0.2rem;
}



.comment_imgs > div > span{
	display: inline-block;
	margin-left: 0.4rem;
	width: 1rem;
	height: 1rem;
}
.comment_secondComments{
	background-color: #f5f5f5;
	
}
.comment_secondComment{
	padding: 0.21rem;
	
}
.more_secondComment{
	margin-right: 0.3rem;
}



.news_secondComment_input,input[type=text]{
	position: absolute;
	background-color: #E7EAEC;
	width: 68%;
	height: 2rem;
	left: 1rem;
	top: 50%;
	margin-top: -1rem;
	border-radius: 20px;
	outline: 0;
	border: 0;
	color: #7A7A7A;
	font-size: 14px;
}
.face{
	width:1.8rem;
	height:1.8rem;
	background:url(../../Public/image/face.png) no-repeat center /100% auto;
	position: absolute;
	top: 50%;
	margin-top: -1rem;
	right:4.6rem;
}
.faceContent{
    border-top:1.5px solid #E7EAEC;
    padding:0.5rem 0rem 0.5rem 1.2rem;
	bottom: 0;
	width:100%;
	display:none;
	height:8.2rem;
	overflow-y:scroll;
}
.faceContent img{
	width:1.8rem;
	margin:0 0.8rem;
}
.comment_content img,.comment_secondComment img{
	width:1.4rem;
	margin:0 0.1rem;
}


input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-size: 14px;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   font-size: 14px;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
   font-size: 14px;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   font-size: 14px;
}

.publish{
	position: absolute;
	right: 6%;
	top: 0;
	margin: 0;
	padding: 0;
	height: 3rem;
	line-height: 3rem;
	font-size:16px;
}
.good{
	background-image: url(../../Public/image/diangoodone.png);
}
.noGood{
	background-image: url(../../Public/image/good.png);
}
.bottomInfo{
	width:100%;
	text-align:center;
	color:#7A7A7A;
	font-size:14px;
	font-weight:600;
	margin-top:1rem;
}

.faceContent div{
	float: left;
	height:1.8rem;
	width:1.8rem;
	margin:0 0.8rem;
	margin-bottom:0.2rem;
	background-size:contain;
	background-position: center;
	background-repeat: no-repeat;
}