*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.bottomInfo{
    width: 100%;text-align: center;
    color: #7A7A7A;
    font-size: 14px;
    font-weight: 600;
    margin-top: 1rem;
}
.before_header{
	/*background-color: #7fcadf;*/
}
a,a:hover,a:link,a:hover,a:active,a:visited{ 
	out-line: none;
    color: #000000; 
    -webkit-tap-highlight-color:rgba(255, 255, 255, 0);
    -webkit-user-select: none;
	-moz-user-focus: none;
    -moz-user-select: none;
	}
.no_content{
	color: #9E9E9E;
	margin-top: 8.5rem;
}
body{
	
    font-size: 16px;
    padding: 0;
    border: none;
    margin: 0;
    background-color: #E7EAEC;
    overflow: auto;
    font-size: 16px;
    /*禁止复制文本*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select:none;
    max-width: 100vw;
}
body::-webkit-scrollbar{
	display: none;
}
.header_box{
	position:fixed;
	top: 0;
	z-index: 99;
	width: 100%;
}
header{
	background-color:#7fcadf;
    z-index: 10;
    right: 0;
    left: 0;
    height: 45px;
    line-height: 45px;
    backface-visibility: hidden;
    position: relative;
}
.mui-action-back{
	line-height: 45px;
	width: 3rem;
	font-size: 20px;
	color: white;
	position:absolute;
}
.mui-icon{
	font-size: 30px;
}
.color_9e9e9e{
	color: #9E9E9E;
}
.color_282828{
	color: #282828;
}
.color_7a7a7a{
	color: #7A7A7A;
}
.color_7fcadf{
	color:#7fcadf;
}

.ui_flex_wrapper.ui_flex_h {
    /*横向布局*/
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}


.ui_flex_wrapper {
    /*设置为flex布局之后，子元素的float、clear、vertical-align属性失效*/
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    box-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    align-items:stretch;
}
.ui_flex_wrapper.ui_flex_v {
    /*竖向*/
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
}
.ui_flex_wrapper > .ui_flex_wide {
    /*占据多余的空间*/
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
 .small-font{    
　　　  font-size:12px; 
     -webkit-transform-origin-x: 0;
     -webkit-transform: scale(0.90);
}
.smallsize-font {
 　　 font-size:10.8px;

}
ul{
	list-style-type: none;
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
.hidden{
	display: none;
}
.overflow{
	width: 6em;
	white-space:nowrap; 
	text-overflow:ellipsis; 
	-o-text-overflow:ellipsis; 
	overflow: hidden;  
}
.overflow_two{
	word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
    -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
    -webkit-line-clamp: 2; /** 显示的行数 **/
    overflow: hidden;  /** 隐藏超出的内容 **/
}
.color_c9c9{
	color: #c9c9c9;
}
.color_white{
	color: white;
}
.color_green{
	color: #7fcadf ;
}
.border_green{
	border: 1px solid #7fcadf;
}
.border_radius_ten{
	border-radius: 10px;
}
.border_radius_twenty{
	border-radius:20px;
}
.color_gray{
	color: #e7eaec;
}
.simHei{
	font-family: simHei;
}
.backgroundColor_white{
	background-color: white;
}
.backgroundColor_green{
	background:  #7fcadf;
}
.backgroundColor_gray{
	background-color: #e7eaec;
}
.font_12{
	font-size: 12px;
}
.font_14{
	font-size: 14px;
}
.font_18{
	font-size: 18px;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.ofh{
	overflow: hidden;
}
.tac{
	text-align: center;
}
.line{
	text-decoration:line-through;
}
.font_bold{
	font-weight:bold;
}

input,button,select,textarea{outline:none;border-style: solid;}
textarea{resize:none}
input:-webkit-autofill {-webkit-box-shadow:  0px 50px  #fff inset;}//为input设置白色的内阴影


.header_title{
	position: absolute;
	left: 50%;
	margin-left: -25%;
	width: 50%;
}
.notap{
	pointer-events:none
}
.cantap{
	pointer-events:auto
}
.before_header{
	background-color: #7fcadf ;
}

.move:before{
   content:"";
   position:absolute;
   width:30%;
   height:30%;
   border-radius: 50%;
   background:#fff;
   box-shadow:0px 0px 0.6rem 0.5rem #fff;
   /*opacity:0.7;*/
}



/*过渡动画的css*/
#transitionImg{
	width: 100%;	
	position: fixed;
	background-color: black;
	top: 0;
	left: 0;
	z-index: 111;
}



/*过渡动画css结束*/