.game_nameHeader{
	margin:0 auto;
}
.game_list{
	height: 6.0625rem;
	border-top: 1px solid #E7EAEC;
	background: #fff;
}
.game_listImg{
	width: 3.5625rem;
	height: 3.5625rem;
	border-radius:10px;
	background-position:center;
	background-repeat:no-repeat;
	background-size: cover;
	margin-top: 1.25rem;
	margin-left: 1.5rem;
}
.game_recommend_star{	
	width: 0.8125rem;
	height: 0.8125rem;
	background-image: url(../../Public/image/xing2.png);	
	background-position: center;
	background-repeat:no-repeat;
	background-size: cover;
	margin-top: 0.2rem;	
}
.game_list_star_active{
	background-image: url(../../Public/image/xing1.png);
}
.game_list_star_half{
	background-image: url(../../Public/image/xing3.png);
}
.tag{
	height: 1.125rem;
	line-height: 1.125rem;
	padding: 0 0.6rem;
	margin-right: 0.2rem;
}
.game_listDownload{
	width: 2.8125rem;
	height: 1.5rem;
	line-height: 1.5rem;
	margin-top: 1.8rem;
	border-radius: 20px;
	position:absolute;
	right:1rem;
}