body{
	background-color: #fff;
}
.notice{
	position: absolute;
	left: 50%;
	margin-left: -2rem;
	font-size: 18px;
}

.find_password{
	
	font-size: 14px;
	padding-top: 1rem;
}

.find_password > div{
	margin: 0 0.875rem;
}
.find_password > .find{
	margin: 1.125rem 0.875rem;
	
}
.find_password > .next{
	margin-top: 2rem;
}
.new_passwords{
	margin-top: 6rem;
}
.phones{
	width: 68%;
	height: 2.5rem;
	line-height: 2.5rem;
	border-radius: 10px;
	background-color: #E7EAEC;
	padding-left: 0.875rem;
}
.phone_num{
	border: 0;
	background-color: #E7EAEC;
	width: 80%;
	margin-top: 0.76rem;
	font-size: 14px;
}
.set_finishs{
	margin-top: 6rem;
}
.phone{
	width: 1.25rem;
	height: 1.25rem;
	margin-top: 0.625rem;
	background-image: url(../../Public/image/5EB22736-3960-4554-94D6-FB710AE9F6E3.png);
	background-position: center;
	background-repeat:no-repeat;
	background-size: contain;
	margin-right: 0.4rem;
}
.get_code{
	width: 30%;
	height: 2.5rem;
	line-height: 2.5rem;
	border-radius: 10px;
	background-color: #E7EAEC;
}
.disabled { pointer-events: none; }
.set_code{
	display: block;
	height: 2.5rem;
	line-height: 2.5rem;
	border-radius: 10px;
	background-color: #E7EAEC;
	padding-left: 0.875rem;
	width: 100%;
	border: 0;
	
}
.next{
	height: 2.8125rem;
	line-height: 2.8125rem;
	margin: 0 0.875rem;
	margin-top: 2.125rem;
	border-radius: 10px;
}


.new_password{
	height: 2.5rem;
	line-height: 2.5rem;
	margin: 0 0.875rem;
	margin-top: 1.125rem;
	background-color: #E7EAEC;
}
.locker{
	width: 1.25rem;
	height: 1.25rem;
	background-image: url(../../Public/image/B50CCB67-EE30-409A-9D03-12CEBF11FBB6.png);
	background-position: center;
	background-repeat:no-repeat;
	background-size: contain;
	margin: 0.625rem 0.875rem;
}
.set_newpassword{
	border: 0;
	background-color: #E7EAEC;
	
}
.form{
	margin-top: 0.3125rem;
	margin-left: 1.875rem;
	
}
.set_finish{
	margin-top: 1.6rem;
	padding-left: 1.875rem;
}
.tick{
	width: 2.375rem;
	height: 2.375rem;
	margin-right: 0.875rem;
	background-image:url(../../Public/image/0AD9A093-048D-45AF-BB4D-404D19F2733E.png);
	background-position: center;
	background-repeat:no-repeat;
	background-size: contain;
}
.set_art{
	margin-top: 0.53125rem;
}
